name: pocketdermtest
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  image_picker: ^0.8.4+4
  animated_text_kit: ^4.2.1
  firebase_core: ^1.11.0
  firebase_auth: ^3.3.5
  modal_progress_hud: ^0.1.3
  firebase_storage: ^10.2.5
  uuid: ^3.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:

  uses-material-design: true

  assets:
    - images/
  fonts:
    - family: Montserrat
      fonts:
        - asset: fonts/Montserrat-Italic-VariableFont_wght.ttf
        - asset: fonts/Montserrat-VariableFont_wght.ttf